body{
    background-image: url('../img/bg.jpeg');
    background-repeat: repeat;
    background-size: cover;
}

.container{
    max-width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
}

.container img{
    width: 300px;
    height: auto;
    margin: auto;
    cursor: pointer;
}